*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

/* header */

.header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 22px 200px;
    background-color: #0A22F4;
    font-family: 'HelveticaNeue';
}

.navigation a{
    color: #FFFFFF;
    position: relative;
}
.navigation a::after{
    content: "";
    position: absolute;
    width: 70%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 15%;
    background-color: #FFFFFF;
}

.navigation a:hover::after{
    transform: scaleX(1);
}
ul li{
    margin-right: 20px;
}

.co{
    background-color: #FFFFFF;
    width: 90px;
    padding: 5px;
    font-family: 'HelveticaNeue-bold';
}

.co a{
    color: #171717;
}

/* services */

.service{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 40px 25px;
}
.tochka{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: #0A22F4;
    align-items: flex-end;
}
.op{
    opacity: 0.3;
}

.services{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 60px; 
}
.square{
    width: 300px;
}
.services span{
    display: inline-block;
    width: 70px;
    height: 70px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
}
.second span{
    background-color: #0A22F4;
}
h3, h4{
    font-family: 'HelveticaNeue-bold';
}
p{
    font-family: 'HelveticaNeue';
}